<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>twitter-crawnker-webapp</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <description></description>
        <display-name>CrawlingLauncher</display-name>
        <servlet-name>CrawlingLauncher</servlet-name>
        <servlet-class>serlvets.CrawlingLauncher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CrawlingLauncher</servlet-name>
        <url-pattern>/CrawlingLauncher</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ScoresCalculationLauncher</display-name>
        <servlet-name>ScoresCalculationLauncher</servlet-name>
        <servlet-class>serlvets.ScoresCalculationLauncher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScoresCalculationLauncher</servlet-name>
        <url-pattern>/ScoresCalculationLauncher</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>TopicCreator</display-name>
        <servlet-name>TopicCreator</servlet-name>
        <servlet-class>serlvets.TopicCreator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TopicCreator</servlet-name>
        <url-pattern>/TopicCreator</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>TweetsListUploader</display-name>
        <servlet-name>TweetsListUploader</servlet-name>
        <servlet-class>serlvets.TweetsListUploader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TweetsListUploader</servlet-name>
        <url-pattern>/TweetsListUploader</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>CrawlingConfigFileUploader</display-name>
        <servlet-name>CrawlingConfigFileUploader</servlet-name>
        <servlet-class>serlvets.CrawlingConfigFileUploader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CrawlingConfigFileUploader</servlet-name>
        <url-pattern>/CrawlingConfigFileUploader</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>FilesDeleter</display-name>
        <servlet-name>FilesDeleter</servlet-name>
        <servlet-class>serlvets.FilesDeleter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FilesDeleter</servlet-name>
        <url-pattern>/FilesDeleter</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>FileViewer</display-name>
        <servlet-name>FileViewer</servlet-name>
        <servlet-class>serlvets.FileViewer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileViewer</servlet-name>
        <url-pattern>/FileViewer</url-pattern>
    </servlet-mapping>
</web-app>
